<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madlab.qrcodescanner">
    <!-- Permission for camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qrcode"
        android:label="@string/app_name"
        android:roundIcon="@drawable/qrcode"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRCodeScanner">
        <activity android:name=".ScanQRCode"></activity>
        <activity android:name=".GenerateQRCode" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>